<div class="slider slider--small">
    <div class="slider__visual">
        <div class="slider__header">
            <h2>
                <div class="pattern-text"><span class="pattern-text__original">Error</span><span class="pattern-text__shadow">Error</span></div>
            </h2>
            <h4>{{error}}</h4>
        </div>
    </div>
</div>
<div class="clear-fix"></div>