<div class="main-content hiscores__outer" role="main">
    <div class="main-content__side main-content__side--left">
        <div class="main-block">
            <div class="store">
                <div class="store__category" data-category="credits">
                    <div class="main-block__header main-block__header--secondary">
                        <h1>Credits</h1>
                    </div>
                    <div class="main-block__body">
                        <div class="store__container">
                            <div class="store__product" data-id="credits_5">
                                <div class="store__product__image">
                                    <figure>
                                        <picture>
                                            <source srcset="/static/assets/img/store/tokens.png 1x, img/store/tokens@2x.png 2x"/><img src="img/store/tokens.png" alt="" width="105" height="93"/>
                                        </picture>
                                    </figure>
                                </div>
                                <div class="store__product__info">
                                    <h3>5 Credits</h3>
                                    <p>These credits can be spend on items on the website and in-game.</p>
                                </div>
                                <div class="clear-fix"></div>
                                <div class="store__product__credits" style="padding-top: 20px;"><strong>$5.00</strong></div>
                                <div class="store__product__btn"><a class="hiscores__pagination__btn" href="#">Buy now</a></div>
                                <div class="clear-fix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="main-content__side main-content__side--right">
        <div class="sidebar">
            <div class="sidebar__container">
                <div class="statistic-block__outer">
                    <div class="sidebar__block__header sidebar__block__header--secondary">
                        <h2>Categories</h2>
                    </div>
                    <div class="sidebar__block link-buttons__outer">
                        <div class="link-buttons"><a class="link-buttons__item link-buttons__item--default link-buttons__item--active" href="#credits">
                            <figure>
                                <picture>
                                    <source srcset="/static/assets/img/icon_credits.png 1x, /static/assets/img/icon_credits@2x.png 2x"/><img src="/static/assets/img/icon_credits.png" alt="" width="21" height="22"/>
                                </picture>
                            </figure>
                            <h3><span>Credits</span><small>Buy credits to spend in the store or in game</small></h3>
                            <div class="clear-fix"></div></a><a class="link-buttons__item link-buttons__item--default" href="#weapons">
                            <figure>
                                <picture>
                                    <source srcset="/static/assets/img/icon_weapons.png 1x, /static/assets/img/icon_weapons@2x.png 2x"/><img src="/static/assets/img/icon_weapons.png" alt="" width="25" height="26"/>
                                </picture>
                            </figure>
                            <h3><span>Weapons</span><small>To aid you in combat</small></h3>
                            <div class="clear-fix"></div></a><a class="link-buttons__item link-buttons__item--default" href="#armour">
                            <figure>
                                <picture>
                                    <source srcset="/static/assets/img/icon_armour.png 1x, /static/assets/img/icon_armour@2x.png 2x"/><img src="/static/assets/img/icon_armour.png" alt="" width="24" height="29"/>
                                </picture>
                            </figure>
                            <h3><span>Armour</span><small>Get your defensive bonus</small></h3>
                            <div class="clear-fix"></div></a><a class="link-buttons__item link-buttons__item--default" href="#rares">
                            <figure>
                                <picture>
                                    <source srcset="/static/assets/img/icon_rares.png 1x, /static/assets/img/icon_rares@2x.png 2x"/><img src="/static/assets/img/icon_rares.png" alt="" width="24" height="20"/>
                                </picture>
                            </figure>
                            <h3><span>Rares</span><small>Get the rarest items ingame</small></h3>
                            <div class="clear-fix"></div></a><a class="link-buttons__item link-buttons__item--default" href="#misc">
                            <figure>
                                <picture>
                                    <source srcset="/static/assets/img/icon_misc.png 1x, /static/assets/img/icon_misc@2x.png 2x"/><img src="/static/assets/img/icon_misc.png" alt="" width="24" height="25"/>
                                </picture>
                            </figure>
                            <h3><span>Miscellaneous</span><small>Get your miscellaneous items</small></h3>
                            <div class="clear-fix"></div></a><a class="link-buttons__item link-buttons__item--default" href="#promo">
                            <figure>
                                <picture>
                                    <source srcset="/static/assets/img/icon_promo.png 1x, /static/assets/img/icon_promo@2x.png 2x"/><img src="/static/assets/img/icon_promo.png" alt="" width="30" height="29"/>
                                </picture>
                            </figure>
                            <h3><span>Promotions</span><small>Get limited deals and bundles</small></h3>
                            <div class="clear-fix"></div></a></div>
                    </div>
                </div>
                <div class="statistic-block__outer">
                    <div class="statistic-block store__credits">
                        <figure class="statistic-block__icon">
                            <picture>
                                <source srcset="/static/assets/img/icon_pouch.png 1x, /static/assets/img/icon_pouch@2x.png 2x"/><img src="/static/assets/img/icon_pouch.png" alt="" width="49" height="50"/>
                            </picture>
                        </figure>
                        <div class="statistic-block__container">
                            <h2>
                                <div class="pattern-text"><span class="pattern-text__original">82,756</span><span class="pattern-text__shadow">82,756</span></div>
                            </h2>
                            <h4>Your current credits</h4><a class="secondary-btn secondary-btn--green" href="#credits">Get more</a>
                        </div>
                        <div class="clear-fix"></div>
                    </div>
                </div>
                <div class="sidebar__block__outer">
                    <div class="sidebar__block__header">
                        <div class="label-options__outer">
                            <h2>Basket</h2>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                    <div class="sidebar__block top-players__outer store__basket__outer">
                        <div class="store__basket__empty">
                            <p>Your basket is empty.</p>
                        </div>
                        <table class="top-players store__basket hidden">
                            <tbody>
                            <tr>
                                <th class="store__basket__amount">Amount</th>
                                <th class="store__basket__product">Product</th>
                                <th class="store__basket__price">Price</th>
                            </tr>
                            </tbody>
                        </table>
                        <div class="store__basket__footer hidden">
                            <div class="store__basket__footer__total"><small>Total:</small><strong><span>15,000</span> Credits</strong></div>
                            <div class="store__basket__footer__checkout">
                                <button class="btn btn--primary" type="button">Checkout</button>
                                <button class="btn btn--secondary store__basket__footer__clear" type="button">Clear</button>
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="clear-fix"></div>
</div>