<div class="social-bar__outer">
    <div class="social-bar">
        <div class="social-bar__info"><strong>Want to stay up to date ?</strong> Follow us on our social media</div>
        <div class="social-bar__item"><i class="social-bar__icon social-bar__icon--facebook"></i><span><strong>2,368</strong> Likes</span></div>
        <div class="social-bar__item"><i class="social-bar__icon social-bar__icon--youtube"></i><span><strong>4</strong> Subscribers</span></div>
        <div class="social-bar__item"><i class="social-bar__icon social-bar__icon--discord"></i><span><strong>7</strong> Members online</span></div>
        <div class="social-bar__item"><i class="social-bar__icon social-bar__icon--twitter"></i><span><strong>73</strong> Followers</span></div>
    </div>
</div>
</div>
<footer class="page-footer">
    <div class="container">
        <div class="page-footer__logo">
            <picture>
                <source srcset="/static/assets/img/footer_logo.png 1x, /static/assets/img/footer_logo@2x.png 2x"/><img src="/static/assets/img/footer_logo.png" alt="" width="46" height="55"/>
            </picture>
        </div>
        <div class="page-footer__copyright">
            <p>All rights reserved ® <span>Website</span>.</p>
            <p>The website and its content was created by Tyler Kroposki.</p>
        </div>
        <div class="page-footer__links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Play</a></li>
            </ul>
            <ul>
                <li><a href="#">Register</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Donate</a></li>
            </ul>
            <ul>
                <li><a href="#">Store</a></li>
                <li><a href="#">Adventure Logs</a></li>
                <li><a href="#">Hiscores</a></li>
            </ul>
        </div>
        <div class="clear-fix"></div>
    </div>
</footer>
</div>
<script src="/static/assets/js/global.js"></script>
<script src="/static/assets/js/neo.min.js"></script>
</body>
</html>