<div class="main-content error__outer" role="main">
    <div class="main-block">
        <div class="main-block__body">
            <div class="error">
                <h1>404</h1>
                <h3>Page not found</h3>
                <p>The page you are looking for doesn't exist or an other error occured.<br>Go back, or head over to our homepage to choose a new direction.</p><a class="error__btn" href="/">Return to homepage</a>
            </div>
        </div>
    </div>
</div>