<meta http-equiv="Refresh" content="3; url=/" />
<div class="main-content error__outer" role="main">
    <div class="main-block">
        <div class="main-block__body">
            <div class="error">
                <h1>Done!</h1>
                <h3>Redirecting you...</h3>
                <p>If the page doesn't redirect automatically, please press the button below to return to the homepage.</p><a class="error__btn" href="/">Return to homepage</a>
            </div>
        </div>
    </div>
</div>