<div class="main-content adv__outer" role="main">
    <div class="main-block">
        <div class="main-block__body">
            <div class="adv__search">
                <div class="search">
                    <div class="adv__container">
                        {{#if error}}
                        <div class="error_msg">{{error}}</div>
                        {{/if}}
                        <form action="/logs/search" method="post">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input class="input-text" type="text" name="username" id="username" autofocus required>
                            </div>
                            <div class="adv__cta">
                                <button class="adv__search-btn" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>